<% content_for :menu do %>
	<%= new_project_link %>
<% end %>

<section class="top">
	<h1>projects</h1>
</section>
<section class="container">
	<% @prjcts.each do |prjct| %>
		<div class="projects">
			<%= link_to prjct do %>
				<% if prjct.pictures.exists? %>
					<div class="project with" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('<%= prjct.pictures.last.image.url %>');">
						<h3><%= prjct.title %></h3>
					</div>
				<% else %> 
					<div class="project">
						<h3><%= prjct.title %></h3>
						<p> image coming soon ;) </p>
					</div>
				<% end %>
			<% end %>
			<% if current_user && admin_user %>
				<div class="action-links">
					<%= link_to 'Add Picture', new_prjct_picture_path(prjct), class: 'btn btn-new' %>
					<%= link_to 'Edit', edit_prjct_path(prjct), class: 'btn btn-new' %>
					<%= link_to 'Delete', prjct, method: :delete, data: { confirm: 'Delete this project?' }, class: 'btn btn-new' %>
				</div>
			<% end %>
		</div>
	<% end %>
</section>