<% content_for :menu do %>
	<ul class="actions">
		<li><%= add_picture_link %></li>
		<li><%= edit_project_link %></li>
		<li><%= delete_project_link %></li>
	</ul>
<% end %>
<p id="notice"><%= notice %></p>

<section class="overview">
	<h2><%= @prjct.title %></h2>

	<p>
	  <%= @prjct.description %>
	</p>

</section>
<% if @pictures.blank? %>
<section class="nopics">
	<p>Pictures coming soon</p>
	<% if current_user && admin_user %>
		<%= link_to 'Add Picture', new_prjct_picture_path(@prjct), class: 'btn btn-new' %>
	<% end %>
</section>
<% else %>
	<% @pictures.each do |picture| %>
	<section class="images">
		<div class="thousandwords">
			<%= image_tag picture.image.url %>
			<div class="<%= cycle("left", "right") %>">
				<%= picture.caption %>
				<% if current_user && admin_user %>
					<ul>
						<li>
							<%= link_to 'Edit Caption', edit_prjct_picture_path(@prjct, picture), class: 'btn btn-new' %>
						</li>
						<li>
							<%= link_to 'Delete Image', [@prjct, picture], method: :delete, class: 'btn btn-new' %>
						</li>
					</ul>
				<% end %>
			</div>
		</div>
	</section>
	<% end %>

<% end %>


