<div class="nav-drawer">
	<% if current_user && admin_user %>
		<% if content_for? :menu %>
			<%= yield :menu %>
		<hr/>
		<% end %>
	<% end %>
	
	<ul>
		<li><%= link_to 'Home', root_path %></li>
	</ul>
	<% if current_user %>
		<ul class="logout">
			<li><hr/></li>
			<li><%= link_to 'Logout', '/logout' %></li>
		</ul>
	<% else %>
		<ul class="login">
			<li><hr/></li>
			<li>
				<%= link_to "/auth/facebook" do %>
					Login with <i class="fa fa-facebook-official" aria-hidden="true"></i>
				<% end %>
			</li>
			<li>
				<%= link_to "/auth/twitter" do %>
					Login with <i class="fa fa-twitter" aria-hidden="true"></i>
				<% end %>		
			</li>
		</ul>
	<% end %>


</div>

<button class="hamburger hamburger--stand menu-trigger" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>