<!DOCTYPE html>
<html>
  <head>
    <title>Zademoore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/nav'%>
  	<div class="rapper">
    	<%= yield %>
    </div>
    <div class="logo">
	    <% if controller.controller_name == "prjcts" && controller.action_name == "show" %>
	    	<span class="glyphicon glyphicon-heart-empty like"></span>
	    <% end %>
	    <%= logo'Zadé-00' %>
    </div>
  </body>

	<script>
	  // Look for .hamburger
	  var hamburger = document.querySelector(".hamburger");
	  var trigger = document.querySelector(".menu-trigger");
	  var drawer = document.querySelector(".nav-drawer");
	  var rapper = document.querySelector(".rapper")
	  // On click
	  hamburger.addEventListener("click", function() {
	    // Toggle class "is-active"
	    hamburger.classList.toggle("is-active");
	    trigger.classList.toggle("active");
	    drawer.classList.toggle("open");
	    rapper.classList.toggle("over");
	    // Do something else, like open/close menu
	  });
	</script>
</html>
